<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Lyra</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>my connection</description>
    <res-ref-name>jdbc/LyraDatasource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>lyra.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegServlet</display-name>
    <servlet-name>UserRegServlet</servlet-name>
    <servlet-class>lyra.servlets.UserRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>lyra.listeners.CreateDB</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>NewsFeedServlet</display-name>
    <servlet-name>NewsFeedServlet</servlet-name>
    <servlet-class>lyra.servlets.NewsFeedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeedServlet</servlet-name>
    <url-pattern>/NewsFeedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsFeedReadServlet</display-name>
    <servlet-name>NewsFeedReadServlet</servlet-name>
    <servlet-class>lyra.servlets.NewsFeedReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeedReadServlet</servlet-name>
    <url-pattern>/NewsFeedReadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsFeedWriteServlet</display-name>
    <servlet-name>NewsFeedWriteServlet</servlet-name>
    <servlet-class>lyra.servlets.NewsFeedWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsFeedWriteServlet</servlet-name>
    <url-pattern>/NewsFeedWriteServlet</url-pattern>
    <url-pattern>/NewsFeedWriteServlet/repub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscoverReadServlet</display-name>
    <servlet-name>DiscoverReadServlet</servlet-name>
    <servlet-class>lyra.servlets.DiscoverReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscoverReadServlet</servlet-name>
    <url-pattern>/DiscoverReadServlet</url-pattern>
    <url-pattern>/DiscoverReadServlet/onlyfollow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowersServlet</display-name>
    <servlet-name>FollowersServlet</servlet-name>
    <servlet-class>lyra.servlets.FollowersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowersServlet</servlet-name>
    <url-pattern>/FollowersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>lyra.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLastPostsServlet</display-name>
    <servlet-name>UserLastPostsServlet</servlet-name>
    <servlet-class>lyra.servlets.UserLastPostsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLastPostsServlet</servlet-name>
    <url-pattern>/UserLastPostsServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>lyra.filters.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/mainUI.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TopicServlet</display-name>
    <servlet-name>TopicServlet</servlet-name>
    <servlet-class>lyra.servlets.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicServlet</servlet-name>
    <url-pattern>/TopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFollowersServlet</display-name>
    <servlet-name>UserFollowersServlet</servlet-name>
    <servlet-class>lyra.servlets.UserFollowersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFollowersServlet</servlet-name>
    <url-pattern>/UserFollowersServlet</url-pattern>
    <url-pattern>/UserFollowersServlet/followers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrUserFollowingServlet</display-name>
    <servlet-name>CurrUserFollowingServlet</servlet-name>
    <servlet-class>lyra.servlets.CurrUserFollowingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrUserFollowingServlet</servlet-name>
    <url-pattern>/CurrUserFollowingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowNumberServlet</display-name>
    <servlet-name>FollowNumberServlet</servlet-name>
    <servlet-class>lyra.servlets.FollowNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowNumberServlet</servlet-name>
    <url-pattern>/FollowNumberServlet</url-pattern>
  </servlet-mapping>
</web-app>